services:
  db:
    image: "postgres:17"
    ports:
      - "18005:5432"
    environment:
      POSTGRES_USER: 'webhookdb'
      POSTGRES_PASSWORD: 'webhookdb'
      POSTGRES_DB: 'webhookdb'
  test_db:
    image: "postgres:17"
    ports:
      - "18006:5432"
    environment:
      POSTGRES_USER: 'webhookdb'
      POSTGRES_PASSWORD: 'webhookdb'
      POSTGRES_DB: 'webhookdb_test'
  redis:
    image: "redis:7"
    ports:
      - "18007:6379"
  mailpit:
    image: "axllent/mailpit"
    ports:
      - "18011:8025"
      - "18012:1025"
