@use "sass:map";
@import "./typography";


$theme-colors: (
        "primary": #0099ff,
        "secondary": #ffcd00,
        "light": #f4faff,
        "dark": #08090a,
);
$font-family-base: 'Karla', sans-serif;
$font-size-base: 1.1rem;
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 608px,
        lg: 800px,
        xl: 1200px
) !default;

body {
  font-family: 'Karla', sans-serif;
}

h1, h2, h3 {
  font-family: 'Lora', cursive;
  margin-bottom: 1.5rem !important;
}

@import "~bootstrap/scss/bootstrap";

deckgo-highlight-code {
  margin-top: 0;
  margin-bottom: $spacer * 2;
}

p {
  margin-bottom: $spacer * 1.5;
}

h1, h2, h3 {
  sup {
    font-size: 65%;
    top: -0.6rem;
  }
}

.list-flush {
  padding-inline-start: inherit;
}

.list-comfy {
  li {
    margin-bottom: $spacer / 2;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.min-vh-80 {
  min-height: 80vh;
}

// If we need multiple do this:
// https://sass-lang.com/documentation/values/maps#do-something-for-every-pair
.max-width-xs {
  max-width: map.get($grid-breakpoints, 'xs');
}
.max-width-sm {
  max-width: map.get($grid-breakpoints, 'sm');
}
.max-width-md {
  max-width: map.get($grid-breakpoints, 'md');
}
.max-width-lg {
  max-width: map.get($grid-breakpoints, 'lg');
}
.max-width-xl {
  max-width: map.get($grid-breakpoints, 'xl');
}

.font-small {
  font-size: 80%;
}

.accordion .card-header {
  cursor: pointer;
}

.table-of-contents {
  p {
    margin-bottom: 0;
  }
}

.alt-link {
  color: map.get($theme-colors, 'light');
  text-decoration: underline;
  font-weight: bold;
}

.hilite {
  background-color: map.get($theme-colors, 'secondary');
  padding: 1px 3px;
  margin-left: 1px;
  margin-right: 1px;
  color: map.get($theme-colors, 'dark');
}

.cta {
  font-size: 150%;
  padding: $spacer * 0.5 $spacer * 3;
  max-width: 80%;
}

.bounded {
  max-width: 2000px;
  margin: auto;
}

.sitenav {
  .nav-dropdown {
    .dropdown-menu {
      position: fixed !important;
      top: 58px;
      width: 80vw;
      left: 10%;
    }
  }

  @include media-breakpoint-up(xl) {
    .nav-dropdown {
      .dropdown-menu {
        position: absolute !important;
        max-width: 500px;
        left: unset;
        right: -50px;
        top: unset;
      }
    }
  }

  @include media-breakpoint-only(md) {
    .nav-dropdown {
      .dropdown-menu {
        width: 90vw;
        left: 5%;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .nav-dropdown {
      .dropdown-menu {
        position: unset !important;
        left: unset;
        right: unset;
        top: unset;
        width: 100%;
      }
    }

    .nav-link {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
  }

  .nav-dropdown.show .dropdown-toggle {
    color: map.get($theme-colors, 'dark') !important;
    background-color: map.get($theme-colors, 'secondary') !important;
  }

  .nav-dropdown .dropdown-toggle:hover {
    color: map.get($theme-colors, 'dark') !important;
  }

  .nav-link {
    color: map.get($theme-colors, 'light') !important;
  }

  .nav-link-hover-invert:hover, .nav-link.active {
    color: map.get($theme-colors, 'dark') !important;
    background-color: map.get($theme-colors, 'secondary') !important;
  }
}
