@use "sass:map";
@import "./typography";


$theme-colors: (
        "primary": #0099ff,
        "secondary": #5dfdcb,
        "light": #f4faff,
        "dark": #08090a,
);
$font-family-base: 'Karla', sans-serif;
$font-size-base: 1.1rem;

body {
  font-family: 'Karla', sans-serif;
}

h1, h2, h3 {
  font-family: 'Bungee', cursive;
  margin-bottom: 1.5rem !important;
}



@import "~bootstrap/scss/bootstrap";

deckgo-highlight-code {
  margin-top: 0;
  margin-bottom: $spacer * 2;
}

p {
  margin-bottom: $spacer * 1.5;
}

h1, h2, h3 {
  sup {
    font-size: 65%;
    top: -0.6rem;
  }
}

.list-flush {
  padding-inline-start: inherit;
}

.list-comfy {
  li {
    margin-bottom: $spacer / 2;
  }
}

.min-vh-80 {
  min-height: 80vh;
}

// If we need multiple do this:
// https://sass-lang.com/documentation/values/maps#do-something-for-every-pair
.max-width-xs {
  max-width: map.get($grid-breakpoints, 'xs');
}
.max-width-sm {
  max-width: map.get($grid-breakpoints, 'sm');
}
.max-width-md {
  max-width: map.get($grid-breakpoints, 'md');
}
.max-width-lg {
  max-width: map.get($grid-breakpoints, 'lg');
}
.max-width-xl {
  max-width: map.get($grid-breakpoints, 'xl');
}
