<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
</head>
<body>

{% partial 'environment_banner' %}

<div style="padding: 20px; background-color: #F7F7F7">
    <table width="100%">
        <tr>
            <td align="center" valign="top">
                <center>
                    {% partial 'logo_header' %}
                </center>
            </td>
        </tr>
        <tr>
            <td>
            {{ content }}
            </td>
        </tr>
    </table>
</div>
</body>
</html>
