<html lang="en-US">
<head>
    {% include 'web/styles' %}
</head>
<body>
<div class="layout">
    <div class="flex column align-items-center content">
        {% partial 'web/partials/header' %}
        <div class="flex column">
            {% if supports_webhooks %}
                <p>
                    Great! We are now listening for updates to resources in your {{ app_name }} account.
                    We&rsquo;ll sync them automatically and immediately.
                </p>
            {% else %}
                <p>
                    Great! We are now checking for updates to resources in your {{ app_name }} account.
                    We&rsquo;ll sync them automatically and immediately.
                </p>
            {% endif %}
            <p>
                You can connect to your replicated database with the following url:
            </p>
            <p><code>{{ database_url }}</code></p>
            <p>
                To get more out of WebhookDB, like to replicate other APIs or set up Change Data Capture
                to HTTP endpoints or databases, you can use the WebhookDB CLI.
                Instructions are in the <a href="{{ docs_url }}">WebhookDB Guide</a>.
            </p>
        </div>
        {% partial 'web/partials/footer' %}
    </div>
</div>
</body>
</html>
