<table class="full-width m2">
    <tr>
        <td width="100%">
            <table class="full-width">
                <tr>
                    <td width="20%"></td>
                    <td width="60%" align="center" class="btn">
                        <a href="{{ button_url }}">{{ button_text }}</a>
                    </td>
                    <td width="20%"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
