<table class="full-width">
    <tr>
        <td align="left">
            <div class="wrapper">
                <table width="600" class="full-width-for-small-only">
                    <tr>
                        <td>
                            <hr/>
                        </td>
                    </tr>
                    <tr>
                        <td class="pt1">
                            <div class="text-center">
                                <a href="https://webhookdb.com">https://webhookdb.com</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
