<table class="full-width">
    <tr>
        <td align="center">
            <center>
                <div class="wrapper buffer-tiny">
                    <table width="600" class="full-width-for-small-only">
                        <tr>
                            <td width="100%" class="text-right">
                                <a href="https://webhookdb.lithic.tech/?utm_source=email&utm_medium=email&utm_campaign=logo">
                                    <img src="https://webhookdb.lithic.tech/images/webhookdb-logo.png" height="40" class="center" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </center>
        </td>
    </tr>
</table>
