<table class="full-width">
    <tr>
        <td align="left">
            <div class="wrapper m1">
                <table width="600" class="full-width-for-small-only">
                    <tr>
                        <td width="100%" class="text-right">
                            <a href="https://webhookdb.lithic.tech/?utm_source=email&utm_medium=email&utm_campaign=logo">
                                <img src="https://static.webhookdb.com/images/logo-dark-sm.png" height="40"
                                     class="center"/>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
