:root {
    --color-input: #00e676;
    --color-output: #00a453;
    --color-error: #d50303;

}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#screen {
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

#Container,
#Container>div {
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

#wrapper {
    display: table-cell;
    vertical-align: bottom;
    height: 100%;
}

.log {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.log p {
    color: var(--color-output);
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    white-space: pre-wrap;
}

.error {
    color: var(--color-error) !important;
}

.command {
    color: var(--color-input) !important;
}

#input {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

#input p {
    color: var(--color-input);
    font-family: 'Source Code Pro', monospace;
    padding-right: .4em;
    margin: 0;
}

#input input {
    flex: 1;
}

.command-input {
    background-color: black;
    border: 0;
    color: var(--color-input);
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    outline: 0;
}

.nocaret {
    caret-color: transparent;
}

.input-label {
    display: none;
}

.inline-input-root {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.inline-input {
    margin-left: 8px !important;
    flex: 1 !important;
}