<html lang="en">
<head>
    <title>WebhookDB | Action Completed</title>
</head>
<body>
<div>
    <p>You have successfully subscribed to the Webhookdb Paid Plan. You can close this page.</p>
</div>
</body>
</html>
