{% expose subject %}Welcome to WebhookDB{% endexpose %}

{% partial 'greeting' %}

<p>Thanks for signing up for WebhookDB! Here are some tips for getting started.</p>
<ul class="list-buffer">
    <li>View our guide at <a href="https://webhookdb.com/docs/cli">https://webhookdb.com/docs/cli</a>.</li>
    <li>View available integrations with: <code>webhookdb services list</code></li>
    <li>Then set up a new integration: <code>webhookdb integrations create stripe_charge_v1</code></li>
    <li>The CLI will take things from there, like showing you how to backfill historical data.</li>
    <li>At this point, you can use any SQL viewer (like <code>psql</code> or <code>pgcli</code>) to check out your data.</li>
    <li>Or use the CLI to see tables in your database: <code>webhookdb db tables</code></li>
    <li>And query them: <code>webhookdb db sql "SELECT * from stripe_charges_v1_abc123"</code></li>
</ul>
<p>
    And finally &mdash; we're here to help!
    Reply to this email or email <a href="mailto:webhookdb@lithic.tech" target="_blank">webhookdb@lithic.tech</a>
    if you need anything or want to say "hi".
</p>

{% partial 'signoff' %}
