{% expose subject %}WebhookDB database migration finished{% endexpose %}

{% partial 'greeting' %}

<p>The WebhookDB database for {{ org_name }} has been fully migrated to {{ destination_host }}.</p>

{% partial 'signoff' %}
