<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thanks! - WebhookDB</title>
    {% include 'web/partials/head' %}
</head>
<body>
<div class="layout">
    <div class="flex column align-items-center content">
        <div class="text-center mt-2">
            {{ content }}
        </div>
        <div class="text-center mt-2 flex column align-items-middle w-100">
            <hr class="w-100"/>
            <span class="mt-2 text-small">Hosted at <a href="https://webhookdb.com">https://webhookdb.com</a></span>
        </div>
    </div>
</div>
</body>
</html>
